{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/global.css') }}">{% endblock %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Datecreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.titre }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.datecreation ? produit.datecreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-outline-info" role="button" type="button" href="{{ path('produit_show', {'id': produit.id}) }}">afficher</a>
                    <a class="btn btn-outline-primary" role="button" type="button" href="{{ path('produit_edit', {'id': produit.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" role="button" type="button" href="{{ path('produit_new') }}">Créer un nouveau produit</a>
{% endblock %}
