{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/produit/new.css') }}">
{% endblock %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron example-wrapper">
            <h1 class="display-4">Fiche utilisateur.</h1>
            <hr class="my-4">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
                <tr>
                    <th>Datecreation</th>
                    <td>{{ user.datecreation ? user.datecreation|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                </tr>
                </tbody>
            </table>
            <hr class="my-4">
            <a class="btn btn-outline-info" role="button" type="button" href="{{ path('user_index') }}">Retour à la liste</a>
            <a class="btn btn-outline-info" role="button" type="button"  href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
